[Unit]
Description=Bookmark Manager
Wants=network-online.target
After=network-online.target
After=local-fs.target

[Container]
ContainerName=hoarder

Image=ghcr.io/hoarder-app/hoarder:0.18.0

EnvironmentFile=hoarder.env
#Environment=NEXTAUTH_SECRET=SECRET
#Environment=MEILI_MASTER_KEY=SECRET
Environment=MEILI_ADDR=http://hoarder-meilisearch:7700
Environment=BROWSER_WEB_URL=http://hoarder-chrome:9222
Environment=DATA_DIR=/data
Environment=NEXTAUTH_URL=http://10.0.0.3:3095
#Environment=OPENAI_API_KEY=

Volume=/var/opt/containers/hoarder:/data:Z

Network=hoarder.network

PublishPort=3095:3000

Label=homepage.group=Misc.
Label=homepage.name=Hoarder
Label=homepage.icon=hoarder.png
Label=homepage.href=http://10.0.0.3:3095
Label=homepage.description=Bookmark Manager

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

