[Unit]
Description=Track Plex stats
Wants=network-online.target
After=network-online.target
After=local-fs.target

[Container]
ContainerName=tautulli

Image=lscr.io/linuxserver/tautulli

AutoUpdate=registry

Volume=/var/opt/containers/tautulli/config:/config:Z
Volume=/var/opt/containers/plex/Library/Application Support/Plex Media Server/Logs:/logs:ro,z

Network=arr.network

PublishPort=8181:8181

Label=homepage.group=Media
Label=homepage.name=Tautulli
Label=homepage.icon=tautulli.png
Label=homepage.href=http://10.0.0.3:8181
Label=homepage.description=Track Plex stats

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

