[Unit]
Description=Plex Media Server
Wants=network-online.target
After=network-online.target
After=local-fs.target

[Container]
ContainerName=plex

Image=docker.io/plexinc/pms-docker:plexpass

EnvironmentFile=plex.env
#Environment=PLEX_CLAIM=SECRET
Environment=PLEX_UID=500
Environment=PLEX_GID=500
Environment=ADVERTISE_IP=http://10.0.0.3:32400/
Environment=ALLOWED_NETWORKS=10.0.0.0/24,172.0.0.0/24

Volume=/var/opt/containers/plex:/config:Z
Volume=/var/mnt/data/movies:/movies:z
Volume=/var/mnt/data/kidsmovies:/kid-movies:z
Volume=/var/mnt/media/tvshows:/tvshows:z
Volume=/var/mnt/media/kidstv:/kidstv:z
Volume=/var/mnt/media/fanedits:/fan-edit-movies:z
Volume=/var/mnt/media/faneditshows:/fan-edit-tv:z
Volume=/var/mnt/media/transcode:/transcode:z
Volume=/var/mnt/media/music:/music:z

Network=arr.network

PublishPort=32400:32400/tcp
PublishPort=1900:1900/udp
PublishPort=3005:3005/tcp
PublishPort=5353:5353/udp
PublishPort=8324:8324/tcp
PublishPort=32410:32410/udp
PublishPort=32412:32412/udp
PublishPort=32413:32413/udp
PublishPort=32414:32414/udp
PublishPort=32469:32469/tcp

AddDevice=/dev/dri

Label=homepage.group=Media
Label=homepage.name=Plex
Label=homepage.icon=plex.png
Label=homepage.href=http://10.0.0.3:32400/web/
Label=homepage.description="Stream Media"

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target


