[Unit]
Description=Plex Media Server
Wants=network-online.target
After=network-online.target
After=local-fs.target

[Container]
ContainerName=plex

Image=docker.io/plexinc/pms-docker:plexpass

AutoUpdate=registry

Pod=plex.pod

EnvironmentFile=plex.env
#Environment=PLEX_CLAIM=SECRET
Environment=PLEX_UID=500
Environment=PLEX_GID=500
Environment=ADVERTISE_IP=http://10.0.0.3:32400/
Environment=ALLOWED_NETWORKS=10.0.0.0/24,172.0.0.0/24

Volume=/var/opt/containers/plex:/config:Z
Volume=/var/mnt/data/movies:/movies
Volume=/var/mnt/data/kidsmovies:/kid-movies
Volume=/var/mnt/media/tvshows:/tvshows
Volume=/var/mnt/media/kidstv:/kidstv
Volume=/var/mnt/media/fanedits:/fan-edit-movies
Volume=/var/mnt/media/faneditshows:/fan-edit-tv
Volume=/var/mnt/media/transcode:/transcode
Volume=/var/mnt/media/music:/music

AddDevice=/dev/dri

Label=homepage.group=Media
Label=homepage.name=Plex
Label=homepage.icon=plex.png
Label=homepage.href=http://10.0.0.3:32400/web/
Label=homepage.description="Stream Media"

[Service]
Restart=on-failure
TimeoutStartSec=90

[Install]
WantedBy=default.target


