[Unit]
Description=VPN
Wants=network-online.target
After=network-online.target
After=local-fs.target

[Container]
ContainerName=wg-easy

Image=ghcr.io/wg-easy/wg-easy:latest

AutoUpdate=registry

Environment=WG_HOST=YOURDOMAIN
Environment=WG_ALLOWED_IPS=10.0.0.0/8

Volume=/var/opt/containers/wg-easy:/etc/wireguard:Z
Volume=/lib/modules:/lib/modules:ro

Network=wireguard.network

PublishPort=YOURPORT1:51820/udp
PublishPort=YOURPORT2:51820/tcp
PublishPort=YOURPORT3:51821/tcp

AddCapability=NET_ADMIN NET_RAW SYS_MODULE

Sysctl=net.ipv4.ip_forward=1
Sysctl=net.ipv4.conf.all.src_valid_mark=1

Label=homepage.group=Misc.
Label=homepage.name="WG-easy"
Label=homepage.icon=wireguard.png
Label=homepage.href=http://IP:PORT
Label=homepage.description="Wireguard VPN"

[Service]
Restart=on-failure
TimeoutStartSec=90

[Install]
WantedBy=default.target

