[Unit]
Description=Automate Movies
Wants=network-online.target
After=network-online.target
After=local-fs.target

[Container]
ContainerName=radarr

Image=ghcr.io/hotio/radarr

AutoUpdate=registry

Environment=PUID=500
Environment=PGID=500

Volume=/var/opt/containers/radarr:/config:Z
Volume=/var/mnt/data/usenet:/data/usenet:z
Volume=/var/mnt/data/movies:/data/movies:z
Volume=/var/mnt/data/kidsmovies:/data/kidsmovies:z


Network=arr.network

PublishPort=7878:7878

Label=homepage.group=Media
Label=homepage.name=Radarr
Label=homepage.icon=radarr.png
Label=homepage.href=http://10.0.0.3:7878
Label=homepage.description="Automate Movies"

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

