[Unit]
Description=Backup
Wants=network-online.target
After=network-online.target
After=local-fs.target

[Container]
ContainerName=kopia

Image=docker.io/kopia/kopia:0.19

AutoUpdate=registry

EnvironmentFile=kopia.env

Volume=/kopia/config/:/app/config:Z
Volume=/kopia/cache/:/app/cache:Z
Volume=/kopia/logs/:/app/logs:Z
Volume=/PATH/TO/BACKUP:/FOLDERBACKUP:ro

PublishPort=YOURPORT:51515

Exec=server start --disable-csrf-token-checks --insecure --address=IP:PORT --server-username=USERNAME --server-password=PASSWORLD

SecurityLabelDisable=true

Label=homepage.group=Automation
Label=homepage.name=Kopia
Label=homepage.icon=kopia.png
Label=homepage.href=http://IP:PORT
Label=homepage.description=Backup

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

