[Unit]
Description=File synchronization tool
Wants=network-online.target
After=network-online.target
After=local-fs.target

[Container]
ContainerName=syncthing

Image=lscr.io/linuxserver/syncthing

AutoUpdate=registry

Volume=/var/opt/containers/syncthing:/config:Z
Volume=/var/opt/obsidian:/ob-path:Z
Volume=/var/opt/syncstuff:/stuff

PublishPort=8384:8384
PublishPort=22000:22000/tcp
PublishPort=22000:22000/udp
PublishPort=21027:21027/udp

#UIDMap=0:1000:1

Network=syncthing.network

Label=homepage.group=Automation
Label=homepage.name=Syncthing
Label=homepage.icon=syncthing.png
Label=homepage.href=http://10.0.0.3:8384
Label=homepage.description=File synchronization tool

[Service]
Restart=on-failure
TimeoutStartSec=90

[Install]
WantedBy=default.target

