[Unit]
Description=Search

[Container]
ContainerName=searxng

Image=docker.io/searxng/searxng:latest

Pod=searxng.pod

AutoUpdate=registry

EnvironmentFile=searxng.env
Environment=SEARXNG_REDIS_URL=redis://redis-searxng
Environment=SEARXNG_URL=http://10.0.0.3:3344

Volume=/var/opt/containers/searxng:/etc/searxng:Z

Label=homepage.group=Misc.
Label=homepage.name=Searxng
Label=homepage.icon=searxng.png
Label=homepage.href=http://10.0.0.3:3344
Label=homepage.description='Search'

[Service]
Restart=on-failure
RestartSec=15
TimeoutStartSec=90
