[Unit]
Description=Songs
Wants=network-online.target
After=network-online.target
After=local-fs.target

[Container]
ContainerName=lidarr-on-steroids

Image=docker.io/youegraillot/lidarr-on-steroids:latest

Volume=/var/opt/containers/lidarr/config:/config:Z
Volume=/var/opt/containers/lidarr/config_deemix:/config_deemix:Z
Volume=/var/mnt/media/sabnzbd/tv:/data/sabnzbd/tv:z
Volume=/var/mnt/media/music:/music:z

# Lidarr web UI
PublishPort=8686:8686 
# Deemix web UI
PublishPort=6595:6595  

Network=arr.network

Label=homepage.group=Media
Label=homepage.name=Lidarr
Label=homepage.icon=lidarr.png
Label=homepage.href=http://10.0.0.3:8686
Label=homepage.description="Songs (Deemix on 6595)"

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

